.article-container{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    margin: 20px 20px 70px 20px;
}
.image-article{
    display: grid;
    grid-template-areas: 
    "one two three";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: auto;
}
.one{
   grid-area: one;
}
.two{
    grid-area: two;
}

.image-article img{
    width: 100%;
}

.article-commander{
    width: 50%;
    margin: 0 0 0 50px;
    font-family: Arial, Helvetica,sans-serif;
    display: flex;
    flex-direction: column;
}
.titre-article h3{
    margin: 0;
}
.prix-article h3{
    font-weight: lighter;
}

.description-article{
    /* background-color:#EAEAEA; */
    grid-column-start: 2;
    height: 300px;
    width: 100%;
    display: grid;
    
}
.description-article p{
    text-align: left;
    width: 400px;
}

.btn-article{
    padding: 5px 40px 5px 40px;
    color: white;
    background-color: #000000;
    border-radius: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-weight: bold;
    width: 80px;
    text-align: center;
    border:solid 2px black;
    font-size: 0.8rem;
    margin-top: 10px;
}
.btn-article:hover{
    padding: 5px 40px 5px 40px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: solid 2px black;
    font-weight: bold;
    font-size: 0.8rem;
}

.title-selection{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title-seletion h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;
}

.selection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
 .selection a{
    text-decoration: none;
    color: black;
 }

.selection-article{
    width: 20%;
}

.selection-article img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.titre-selection {
    font-size: 0,8rem;
    font-weight: bold;
}



.btn-selection {
    font-weight: bold;
}

