

.form1{
    display: flex;
    justify-content: center;

}

.form1 img{
    width: 100%;
    z-index: 1;
    position: relative;
    margin-top: 50px;
}

.connexion{
    width: 380px;
    height: 320px;
    padding: 100px;
    text-align: center;
    background-color: rgb(212, 210, 210, 0.90);
    border-radius: 40px;
    border-left: 1px solid rgb(112, 111, 111, .3);
    border-top: 1px solid rgb(112, 111, 111, .3);
    z-index: 4;
    position: absolute;
    margin-top: 100px;
   
}

h1{
    opacity: .3;
    margin-top: -61px;
    margin-bottom: 90px;
    text-align: center;
    
}


.pw{
    text-decoration: none;
    color: #929191;
    transition: all .3s;
    margin-left: 230px;
}

.pw:hover{
   
    color: rgb(64, 64, 64);

}

.champ input[type="email"], input[type="password"] {
    padding: 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(112, 111, 111, .3);
    margin-bottom: 15px;
    background-color:rgb(237 237 237 / 30%);



}

.champ input[type="bouton"]{
    margin-bottom: 30px;
}


.champ1{
    border-top: 1px solid black;
    background-color: rgb(205, 203, 203);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.connexion input[type="button"]{

    border: none;
    background-color: #afafaf;
}