body{
    width: 100%;
    height: 100%;
    margin: 0;
}

/* ------------- Navigation --------------------*/
.hamburger-container{
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
}
.hamburger{
    position: relative;
    width: 50%;
    height: 2px;
    background-color: black;
}
.hamburger::before{
    position: absolute;
    content: '';
    width: 80%;
    height: inherit;
    background-color: inherit;
    top: 7px;
}
.hamburger::after{
    position: absolute;
    content: '';
    width: 80%;
    height: inherit;
    background-color: inherit;
    bottom: 7px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.panier{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
}
nav ul li{
    width: 100%;
    list-style: none;
    text-align: center;
}
nav a{
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panier a:hover{
    stroke:#000000;
}
nav li:hover:nth-child(1) a{
    color: #000000;
    font-weight: bold;
}
nav ul li:hover:nth-child(2) a{
    color: #AD267E;
    font-weight: bold;
}
nav ul li:hover:nth-child(3) a{
    color: #DE744C;
    font-weight: bold;
}
nav ul li:hover:nth-child(4) a{
    color: #5EB2A5;
    font-weight: bold;
}
nav ul li:hover:nth-child(5) a{
    color: #E8BB3D;
    font-weight: bold;
}

/* ---------------- Carroussel ------------------------*/
.carroussel{
    width: 100%;
    height: 100%;
    position: relative; 
}
.carroussel img{
    width: 100%;
    height: 680px;
    object-fit: cover;
}
.carroussel h2{
    position: absolute;
    text-align: left;
    left: 25%;
    top: 75%;
    font-size:5vw;
    transform: translate(-50%,-50%);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    /* box-shadow: 2px 2px 30px rgba(0,0,0,0,2); */
}

/* ------------------ Nouveautés -------------------------*/
.title-product{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;
}
.title-product a{
    text-decoration: none;
}
.new-product{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product{
    width: 15%;
}
.product img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;

    border-radius: 10px;
    margin-bottom: 10px;
}
.detail-product{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    outline: none;
    border-bottom: 0px solid;
}
.detail-product h4{
    text-decoration: none;
    color: black;
    margin: 0;
}
.detail-product p{
    text-decoration: none;
    color: black;
    margin: 0;
}



/* --------------- Catégories --------------------------*/
.title-category{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;
}
.category{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-product{
    width: 30%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.category-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
}
.overlay-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.category-btn{
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0,2);
    text-decoration: none;
}
.category-btn:hover{
    color: #FFFFFF;
    background-color: transparent;
    border: solid 2px white;
}
.category-product:hover .overlay-btn{
    visibility: visible;
    animation: fade 0.5s;
}

/*---------------- Best-seller --------------------------*/
.title-best-seller{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;
}
.best-seller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.best-seller-product{
    font-size: 0.8rem;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.best-seller-product img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}
.best-seller-product h4{
    text-decoration: none;
    color: black;
    margin: 0;
}
.best-seller-product p{
    text-decoration: none;
    color: black;
    margin: 0;
}

/*---------------------------------------------*/
footer{
    background-color: #e9e9e9;
    margin-top: 50px;
    padding:30px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    row-gap: 20px;
}
footer h3{
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}
.accordion{
    display: none;
}

/*------ Logo footer --------------- */
.logo-footer{
    grid-column-start: 1;
    grid-row-start: 1;
}

.logo-footer a{
    width: 80%;
    height: 100%;
}

/*------ Newsletter --------------- */
.newsletter{
    grid-column-start: 2;
    grid-row-start: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.email{
    padding: 10px;
    width: 150px;
    margin: 0 0 10px 0;
}
.btn-email{
    padding: 10px 40px 10px 40px;
    color: white;
    background-color: #000000;
    border-radius: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-weight: bold;
    text-align: center;
    border:solid 2px black;
}
.btn-email:hover{
    padding: 10px 40px 10px 40px;
    color: black;
    background-color: #E9E9E9;
    border-radius: 20px;
    border: solid 2px black;
    font-weight: bold;
}

/*------ Navigation footer --------------- */
.nav-footer{
    grid-column-start: 4;
    grid-row-start: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-footer ul{
    padding: 0;
    margin: 0;
}
.nav-footer li{
    list-style: none;
    padding: 6px 0;
}
.nav-footer li:hover{
    color: #000000;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-footer li a{
    text-decoration: none;
    color: #000000;
}

/*------ Compte --------------- */
.nav-compte{
    grid-template-columns: 3;
    grid-template-rows: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-compte ul{
    padding: 0;
    margin: 0;
}
.nav-compte li{
    list-style: none;
    padding: 6px 0; 
}
.nav-compte li:hover{
    color: #000000;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-compte li a{
    text-decoration: none;
    color: #000000;
}

/*------ Category --------------- */
.nav-category{
    grid-column-start: 4;
    grid-row-start: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-category ul{
    padding: 0;
    margin: 0;
}
.nav-category li{
    list-style: none;
    padding: 6px 0;
}
.nav-category li:hover{
    color: #000000;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-category li a{
    text-decoration: none;
    color: #000000;
}

/*------ Conditions --------------- */
.nav-condition{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-rows: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.nav-condition ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.nav-condition li{
    list-style: none;
}
.nav-condition li:hover{
    color: #000000;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-condition li a{
    text-decoration: none;
    color: #000000;
    padding: 0 15px 0 0;
}

/* Responsive tablette */
@media screen and (max-width: 1024px) {
    .hamburger-container{
        display: flex;
        z-index: 3;
    }
    .close{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
    }
    .close::before{
        content: '';
        height: 60%;
        width: 2px;
        background-color: #000000;
        position: absolute;
    }
    .close::after{
        content: '';
        height: 60%;
        width: 2px;
        background-color: #000000;
        position: absolute;
        transform: rotate(-90deg);
        top: 7px;
    }
    nav{
        width: 100%;
        height: 80px;
        justify-content: space-between;
        position: fixed;
        z-index: 3;
        background-color: white;
    }
    nav ul{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 30%;
        height: 100svh;
        left: 0;
        background-color: white;
        z-index: 1;
        top: 0;
        filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.425));
        margin: 0;
    }
    .panier{
        width: 50px;
        height: 100%;
        padding: 10px 0;
        z-index: 4;
    }
    .show{
        display: flex;
    }


    footer{
        background-color: #e9e9e9;
        margin-top: 50px;
        padding: 0 30px 20px 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 1fr 50px;
        align-items: center;
    }

    .logo-footer{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .newsletter{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .nav-compte{
        display: none;
    }
    .nav-category{
        display: none;
    }
    .nav-footer{
        display: none;
    }
    .nav-condition{
        grid-column-start: 1;
        grid-row-start: 4;
        padding-top: 20px;
    }

    .accordion{
        display: grid;
        grid-column-start: 1;
        grid-row-start: 3; 
        font-family: Arial, Helvetica, sans-serif;   
    }
    .accordion hr{
        width: 100%;
    }
    .accordion ul {
        padding: 0;
        margin: 0;
    }
    .accordion ul li{
        display: none;
    }

    .accordion li{
        list-style: none;
        padding: 6px 0;
    }
    .accordion li:hover{
        color: #000000;
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
    }
    .accordion li a{
        text-decoration: none;
        color: #000000;
    }

    .accordion ul li.unrolled{
        display: block;
        grid-column-start: 1;
        grid-row-start: 3;  
    }

    .grid-about{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px 0px 0px 0px;
        gap: 20px;
    }
    .grid-text{
        width: 60%;
        display: flex;
        flex-direction: column;

    }
    .grid-text-content{
        margin-right: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .about-container p{
        width: 100%;
    }
}


@media screen and (max-width: 768px){

}