
  /* Styles pour le contenu du panier */
  
  .cart-items {
    flex: 2;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f9f9f9;
  }
  
  td {
    vertical-align: middle;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  .remove-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  a.remove-btn{text-decoration: none;}
  
  /* Styles pour le résumé du panier */
  
  .cart-summary {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .cart-summary h2 {
    margin-top: 0;
  }
  .total{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  ul li{
    display: flex;
    flex-direction: row;
  }
  .btn-empty{
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 28px;
    cursor: pointer;
  }
  a.btn-empty{
    text-decoration: none;
  }
  
  /* Styles pour le bouton "Passer à la caisse" */
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  
 
